language: php

sudo: false

git:
    depth: 1

services:
  - mysql

matrix:
    include:
        - php: hhvm
        - php: 5.5
        - php: 5.6
          env: deps=high
        - php: 7.0
          env: deps=low
    fast_finish: true

before_script:
  - cp app/config/parameters.yml.travis app/config/parameters.yml
  - composer install
  - php app/console doctrine:database:create
  - php app/console doctrine:schema:create

install:
   - composer install
